<div class="game-number__container">
  <section>
    <mat-checkbox [(ngModel)]="addPool" [disabled]="!selectedHouse.canPool">Add pool</mat-checkbox>
    <div class="game-number__choosed-number">
      {{ choosedNumber }}
    </div>
    <button mat-button (click)="onClear()">Clear</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
  </section>

  <section>
    <div class="game-number__numbers">
      <button
        mat-mini-fab
        color="accent"
        *ngFor="let digit of digits; let index = index; trackBy:index"
        (click)="onDigit(index + 1)"
        [disabled]="choosedNumber === 1 && index + 1 > 7">
        {{ index + 1 }}
      </button>
      <button mat-mini-fab color="accent" (click)="onDigit(0)">0</button>
    </div>
  </section>
</div>
