<div class="game__row mb-5">
  <app-game-card src="plan/n{{planN1.number}}/plan_{{planN1.name}}_{{planN1.position}}" (click)="onFlipPlan(planN1)">
  </app-game-card>
  <app-game-card src="plan/n{{planN2.number}}/plan_{{planN2.name}}_{{planN2.position}}" (click)="onFlipPlan(planN2)">
  </app-game-card>
  <app-game-card src="plan/n{{planN3.number}}/plan_{{planN3.name}}_{{planN3.position}}" (click)="onFlipPlan(planN3)">
  </app-game-card>
</div>
<div class="game__row">
  <app-game-card
    *ngFor="let combination of combinations"
    src="{{combination.front.action}}/{{combination.front.action}}_{{combination.front.number}}"
  ></app-game-card>
</div>
<div class="game__row">
  <app-game-card *ngFor="let combination of combinations"
    src="back/back_{{combination.back.action}}"></app-game-card>
</div>

