<div class="game__mask"></div>

<main class="game">
  <app-game-actions></app-game-actions>

  <section class="game__container">
    <div class="game__map-container">
      <img src="/welcome-to-your-perfect-home/assets/images/game.jpg" alt="game" class="game__map">
      <div class="game__map-overlay">

        <!-- User Name -->
        <div class="game__map-overlay-test game__map-overlay-name">{{ user.user?.name || '--' }}</div>

        <!-- Streets -->
        <ng-container *ngFor="let street of streets; let streetIndex = index; trackBy:util.trackByIndex">

          <!-- Houses -->
          <ng-container *ngFor="let house of street.houses; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-house-{{i}}"
              [class.game__map-overlay-house-with-pool]="house.addPool"
              [class.game__map-overlay-house-with-roundabout]="house.addRoundAbout"
              [style.top.%]="street.top"
              (click)="onHouse(house, street, i)">{{ house.value }}</span>
          </ng-container>

          <!-- Fences -->
          <ng-container *ngFor="let fence of street.fences; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-fence-{{i}}"
              [class.game__map-overlay-fence-marked]="fence.marked"
              [style.top.%]="street.top" (click)="onMark(fence)"></span>
          </ng-container>

          <!-- Parks -->
          <ng-container *ngFor="let park of street.parks; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-park-{{i}}"
              [class.game__map-overlay-marked]="park.marked"
              [style.top.%]="street.top - 4.6" (click)="onMark(park)"></span>
          </ng-container>
        </ng-container>

        <!-- Pools -->
        <ng-container *ngFor="let pool of pools; let poolIndex = index; trackBy:util.trackByIndex">
          <ng-container *ngFor="let slot of pool.slots; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-pool-{{i}}"
              [class.game__map-overlay-marked]="slot.marked"
              [style.left.%]="pool.left" (click)="onMark(slot)"></span>
          </ng-container>
        </ng-container>

        <!-- Agencies -->
        <ng-container *ngFor="let agency of agencies; let agencyIndex = index; trackBy:util.trackByIndex">
          <ng-container *ngFor="let slot of agency.slots; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-agency-{{i}}"
              [class.game__map-overlay-marked]="slot.marked"
              [style.left.%]="agency.left"
              [style.transform]="'translateY(' + agency.offset + '%)'"
              (click)="onMark(slot)"></span>
          </ng-container>
        </ng-container>

        <!-- Estates -->
        <ng-container *ngFor="let estate of estates; let estateIndex = index; trackBy:util.trackByIndex">
          <ng-container *ngFor="let slot of estate.slots; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-estate-{{i}}"
              [class.game__map-overlay-marked]="slot.marked"
              [style.left.%]="estate.left"
              [style.transform]="'translateY(' + estate.offset + '%)'"
              (click)="onMark(slot)"></span>
          </ng-container>
          <span class="game__map-overlay-test game__map-overlay-estate-count-{{estateIndex}}">
            {{ estate.amount }}
          </span>
          <span class="game__map-overlay-test game__map-overlay-score"
            [style.left.%]="estate.left + 0.15 * (estateIndex - 4)">
            {{ estate.amount }}
          </span>
        </ng-container>

        <!-- Bises -->
        <ng-container *ngFor="let bis of bises; let bisIndex = index; trackBy:util.trackByIndex">
          <ng-container *ngFor="let slot of bis.slots; let i = index; trackBy:util.trackByIndex">
            <span class="game__map-overlay-test game__map-overlay-bis-{{i}}"
              [class.game__map-overlay-marked]="slot.marked"
              [style.left.%]="bis.left"
              (click)="onMark(slot)"></span>
          </ng-container>
        </ng-container>

        <!-- Round about -->
        <ng-container *ngFor="let slot of roundAbout.slots; let i = index; trackBy:util.trackByIndex">
          <span class="game__map-overlay-test game__map-overlay-round-about-{{i}}"
            [class.game__map-overlay-marked]="slot.marked"
            [style.left.%]="roundAbout.left"
            (click)="onMark(slot)"></span>
        </ng-container>

        <!-- Refusal -->
        <ng-container *ngFor="let slot of refusal.slots; let i = index; trackBy:util.trackByIndex">
          <span class="game__map-overlay-test game__map-overlay-refusal-{{i}}"
            [class.game__map-overlay-marked]="slot.marked"
            [style.left.%]="refusal.left"
            (click)="onMark(slot)"></span>
        </ng-container>
      </div>
      <app-game-number
        *ngIf="selectedHouse"
        [selectedHouse]="selectedHouse"
        (clear)="onHouseNumberCleared()"
        (numberSelected)="onHouseNumberSelected($event)"
      ></app-game-number>
    </div>
  </section>
</main>
